<a href="https://colab.research.google.com/github/LoreBonora/T1/blob/main/T1_Explora%C3%A7%C3%A3o_do_dataset_Olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Identificação:

Loredana Bonora Cobianchi

RA: 20.83987-0

#Montando o drive e carregando os Datasets

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [20]:
df_clientes = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_customers_dataset.csv')
df_geo = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_geolocation_dataset.csv', encoding='utf8')
df_compra_itens = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_order_items_dataset.csv')
df_compra_pagamentos = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_order_payments_dataset.csv')
df_reviews = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_order_reviews_dataset.csv')
df_compras = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_orders_dataset.csv')
df_produtos = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_products_dataset.csv')
df_vendedores = pd.read_csv('/content/drive/MyDrive/Ciência de Dados e Inteligência Artificial/Fundamentos de Ciências de Dados e Inteligência Artificial/Introdução a Ciência de Dados/Datasets/olist_sellers_dataset.csv')

#Instalando o Gitly

In [4]:
!pip install -U gitly

Collecting gitly
  Downloading https://files.pythonhosted.org/packages/45/fe/0afeaec8b05a3056e3081c890ea7daae3674ef2849df792561c9bd5dd799/gitly-1.1.4.tar.gz
Collecting plotly>=4.9.0
  Downloading https://files.pythonhosted.org/packages/c9/09/315462259ab7b60a3d4b7159233ed700733c87d889755bdc00a9fb46d692/plotly-4.14.1-py2.py3-none-any.whl (13.2MB)
     |████████████████████████████████| 13.2MB 5.3MB/s
Collecting kaleido
  Downloading https://files.pythonhosted.org/packages/83/39/1c960a971f8d27e6aa4f1462dc048275c98bbb46f16871269ba941bb4a04/kaleido-0.1.0-py2.py3-none-manylinux1_x86_64.whl (74.6MB)
     |████████████████████████████████| 74.6MB 131kB/s
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.9.0->gitly) (1.3.3)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly>=4.9.0->gitly) (1.15.0)
Building wheels for collected packages: gitly
  Building wheel for gitly (setup.py) ... done
  Created wheel for gitly: filename=gitly-1.1.4-cp36-none-any.whl size=4520 sha256=31646fa92901f90c66be72ec27388be4e543efa62c2ee5a47830801c341712f5
  Stored in directory: /root/.cache/pip/wheels/41/5c/0b/6cd3a688991c83f17c948adf0775f7907a0406d1119bd809af
Successfully built gitly
Installing collected packages: plotly, kaleido, gitly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed gitly-1.1.4 kaleido-0.1.0 plotly-4.14.1

In [5]:
from gitly.colab.plot import GitlyPlotter

gitly = GitlyPlotter('git')
gitly.config_render(renderer='colab')

In [91]:
import plotly.express as px

#Exploração dataset de Produtos e Itens

##Analise estrutural

In [21]:
df_produtos.head(5)

                         product_id  ... product_width_cm
0  1e9e8ef04dbcff4541ed26657ea517e5  ...             14.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...             20.0
2  96bd76ec8810374ed1b65e291975717f  ...             15.0
3  cef67bcfe19066a932b7673e239eb23d  ...             26.0
4  9dc1a7de274444849c219cff195d0b71  ...             13.0

[5 rows x 9 columns]

In [6]:
df_produtos.shape

(32951, 9)

Esse arquivo possui 32951 linhas e 9 colunas

In [7]:
df_produtos.agg( ['nunique', 'count', 'size'] )

         product_id  product_category_name  ...  product_height_cm  product_width_cm
nunique       32951                     73  ...                102                95
count         32951                  32341  ...              32949             32949
size          32951                  32951  ...              32951             32951

[3 rows x 9 columns]

Existem 73 categorias diferentes

###Quais as categorias com mais produtos?

In [109]:
df_categoria_mais_produtos = df_produtos.product_category_name.value_counts().head(5)
df_categoria_mais_produtos

cama_mesa_banho          3029
esporte_lazer            2867
moveis_decoracao         2657
beleza_saude             2444
utilidades_domesticas    2335
Name: product_category_name, dtype: int64

Não é a categoria de produtos mais vendidos pois isso dependeria de contabilizar orderID, na análise acima estamos apenas contabilizando produtos cadastrados.

In [110]:
fig = px.bar(df_categoria_mais_produtos,  title='Categorias com mais itens cadastrados', labels={'index':'Categorias dos produtos'})
gitly.show( fig )

###Qual o produto maior em tamanho?

In [22]:
df_produtos['Volume'] = df_produtos.product_length_cm*df_produtos.product_height_cm*df_produtos.product_width_cm
df_produtos.head(5)

                         product_id  ...   Volume
0  1e9e8ef04dbcff4541ed26657ea517e5  ...   2240.0
1  3aa071139cb16b67ca9e5dea641aaa2f  ...  10800.0
2  96bd76ec8810374ed1b65e291975717f  ...   2430.0
3  cef67bcfe19066a932b7673e239eb23d  ...   2704.0
4  9dc1a7de274444849c219cff195d0b71  ...   4420.0

[5 rows x 10 columns]

In [30]:
df_produtos.sort_values(by = ['Volume'], axis=0, ascending=False)

                             product_id  ...    Volume
12802  256a9c364b75753b97bee410c9491ad8  ...  296208.0
17303  3eb14e65e4208c6d94b7a32e41add538  ...  294000.0
10697  0b48eade13cfad433122f23739a66898  ...  294000.0
25524  c1e0531cb1864fd3a0cae57dca55ca80  ...  294000.0
12146  f227e2d44f10f7dad30fb4dfa839e7a2  ...  294000.0
...                                 ...  ...       ...
15211  5a2a2db3896d33beec6828b898812ad5  ...     352.0
961    2f763ba79d9cd987b2034aac7ceffe06  ...     288.0
32950  106392145fca363410d287a815be6de4  ...     168.0
8578   09ff539a621711667c43eba6a3bd8466  ...       NaN
18851  5eb564652db742ff8f28759cd8d2652a  ...       NaN

[32951 rows x 10 columns]

O produto 256a9c364b75753b97bee410c9491ad8 tem o maior volume de todos, com 296208,0 cm³. Ele está na categoria de Utilidades domésticas.

###Qual o produto que mais gerou dinheiro?

In [47]:
df_compra_itens['sub-total'] = df_compra_itens.order_item_id * df_compra_itens.price
df_compra_itens.head()

                           order_id  order_item_id  ... freight_value sub-total
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...         13.29     58.90
1  00018f77f2f0320c557190d7a144bdd3              1  ...         19.93    239.90
2  000229ec398224ef6ca0657da4fc703e              1  ...         17.87    199.00
3  00024acbcdf0a6daa1e931b038114c75              1  ...         12.79     12.99
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...         18.14    199.90

[5 rows x 8 columns]

In [50]:
df_prod_mais_f = df_compra_itens[['product_id', 'order_item_id', 'sub-total' ]].groupby(by=['product_id']).apply(sum)[['sub-total', 'order_item_id']]
df_prod_mais_f.head()

                                  sub-total  order_item_id
product_id
00066f42aeeb9f3007548bb9d3f33c38     101.65              1
00088930e925c41fd95ebfe695fd2655     129.90              1
0009406fd7479715e4bef61dd91f2462     229.00              1
000b8f95fcb9e0096488278317764d19     117.80              2
000d9be29b5207b54e86aa1b1ac54872     199.00              1

In [53]:
df_prod_mais_f.sort_values(by=['sub-total'] ,ascending=False).head(5)

                                  sub-total  order_item_id
product_id
bb50f2e236e5eea0100680137654686c   70485.00            215
5769ef0a239114ac3a854af00df129e4   60480.00             36
6cdd53843498f92890544667809f1595   57557.60            164
d1c427060a0f73f6b889a5c7c61f2ac4   50940.39            369
d6160fb7873f184099d9bc95e30376af   48899.34             35

O produto mais gerou dinheiro é o bb50f2e236e5eea0100680137654686c que conseguiu R$70.485,00.

###Qual o a compra mais cara?

In [58]:
df_venda_mais_cara = df_compra_itens[['order_id', 'sub-total' ]].groupby(by=['order_id']).apply(sum)[['sub-total']]
df_venda_mais_cara.sort_values(by=['sub-total'] ,ascending=False).head(5)

                                  sub-total
order_id
03caa2c082116e1d31e67e9ae3700499    60480.0
1b15974a0141d54e36626dca3fdc731a    21000.0
2cc9089445046817a7539d90805e6e5a    20771.1
ab14fdcfbe524636d65ee38360e22ce8    20727.0
736e1922ae60d0d6a89247b851902527    17900.0

A compra mais cara foi a de id 03caa2c082116e1d31e67e9ae3700499 que custou R$60.480,00.

###Qual a quantidade de produtos comprados?

In [63]:
df_compra_itens.order_item_id.sum()

134936

Quase 135mil produtos.

###Qual a compra com mais itens?

In [116]:
df_compra_mais_itens = df_compra_itens[['order_id','product_id']].value_counts('order_id').head(5)

In [117]:
df_compra_mais_itens.head()

order_id
8272b63d03f5f79c56e9e4120aec44ef    21
ab14fdcfbe524636d65ee38360e22ce8    20
1b15974a0141d54e36626dca3fdc731a    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
dtype: int64

A compra com mais itens foi a 8272b63d03f5f79c56e9e4120aec44ef com 21 itens.

In [121]:
fig = px.bar(df_compra_mais_itens, title='Quantidade de produtos em uma só compra', labels={'index':'order_id'})
gitly.show( fig )

###Google Colab vs PowerBI

Eu brinco que a direfênça entre Mac, Windows e Linux é a seguinte: No Mac você tem uma facilidade de operação grande por ter uma interface mais intuitiva, porém não existe muita abertura para grandes configurações edições em relação aos demais. Seu preço é o mais alto.
Por sua vez, o Windows é um pouco menos intuitivo que o Mac mas tem uma maior gama de configurações, programas, e aberturas para realizar atividades que que a "Maçã". Tem um preço intermediário.
Quando chegamos no Linux temos o sistema com a maior abertura e desempenho para você fazer o que quiser, mas isso de abre para fazer muitas coisas erradas e também perde-se muito em intuitividade para leigos. É de graça.

O mesmo pode ser observado na relação Intuitividade VS Abertura e preço no IOS e Android (exceto os flagship da Samsung que também são muito caros).

Estudando ciência dos dados utilizando o Colab e o PowerBI vemos quase a mesma coisa.

O PowerBI te dá uma alta gama meios para demonstrar seus dados e insights, configurações e cores para ser o mais "user friendly" possível. Deve-se tomar cuidado pois é muito fácil acabar exibindo números e gráficos que não demonstram exatamente o resultado desejado.
Em troca disse ele pede uma mensalidade bem alta para divulgar seus arquivos.
No caso do Colab temos uma plataforma totalmente gratuita, com uma abertura muito maior de possibilidades, mas em troca disso temos que realizar uma quantidade maior de programação.

No final das contas, essa seleção de qual meio utilizar para demonstrar os dados vai depender da preferência do cliente.